{% extends "admin/layout.html" %}
{%block content%}
{% include 'admin/header.html' %}
<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Add New Customer</h3>
                        </div>
                        {% from "_formhelpers.html" import render_field %}
                        <form method="post" enctype="multipart/form-data">
                            {{ form.csrf_token }}
                            <div class="card">
                                <div class="card-body">
                                    {% include '_messages.html'%}
                                    <div>
                                        {{ render_field(form.username, class="form-control")}}
                                        {{ render_field(form.first_name, class="form-control")}}
                                        {{ render_field(form.last_name, class="form-control")}}
                                        {{ render_field(form.email, class="form-control")}}
                                        {{ render_field(form.phone_number, class="form-control")}}
                                        {{ render_field(form.gender)}}
                                        {{ render_field(form.password, class="form-control")}}
                                        {{ render_field(form.confirm, class="form-control")}}
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Add</button>
                                <button type="submit" class="btn btn-primary">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content%}